form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin: 10px auto;

    width: 60%;
}

input{
    height: 30px;
    font-size: 25px;
    border-radius: 10px;

}
.button{
    background-color: greenyellow;
    color: #333;
    font-size: 30px;
    border-radius: 10px;
}