
.acciones{
    width: 100%;
    border-radius: 10px;
    border: none;
    height: 40px;
    box-shadow: 0px 0px 10px black;
    font-size: 30px;

    margin-top: 10px !important;
    margin-bottom: 10px;
}

.done{
    text-decoration: line-through;
    background-color: green;
}

.notDone{
    text-decoration: none;
    box-shadow: 0px 0px 10px yellow !important;
}



.botones-acciones-box{
    display: flex;
    gap: 10px;
    margin: 10px;
    
}

.boton-eliminar{
    flex-basis: 20%;
    font-size: 15px;
}

.boton-editar{
    font-size: 15px;
    flex-basis: 20%;
}

.estatus-tarea{
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 15px;
}